{% from "_formhelpers.html" import render_field %}
{% extends "index.html" %}

	{% block head %}
		<link rel="stylesheet" href="{{url_for('.static', filename='css/registration-form.css')}}">
		<link rel="stylesheet" href="{{url_for('.static', filename='css/smart-green.css')}}">
	{% endblock %}

	{% block container %}
		<div id = "regForm" class = "container smart-green">
			<h1>Registracija</h1>
			<form role="form" class = "form-horizontal" method='POST' action="/registracija">
				<dl>
					{{ render_field(form.email) }}
					{{ render_field(form.repeated) }}
					{{ render_field(form.password) }}
					{{ render_field(form.confirm) }}
					{{ render_field(form.recaptcha)}}
				</dl>
				<p><input type=submit value=Registracija class="button"></p>
				<p>
					{% for message in get_flashed_messages() %}
						<div class="flash" id="poruka">
							{{ message }}
						</div>
					{% endfor %}
				</p>
			</form>
		</div>
	{% endblock %}
